@charset "UTF-8";

.product-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-summary div {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

.product-filter { 
    margin-bottom: 20px;
}

.filter-input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.filter-btn, .reset-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-table th {
    background-color: #f2f2f2;
}

.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.add-product-btn{
	float: right; 
}

.delete-btn {
    background-color: #dc3545; /* 삭제 버튼 색상 */
    margin-left: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-page, .next-page {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

/* modal 디자인  */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1001;
}
.input-group {
    transition: all 0.3s ease;
}
.input-group:focus-within {
    transform: translateY(-2px);
}